@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Outfit:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Manrope', sans-serif;

}

header{
    padding-top: 30px;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;  
    background-position: left;
}

.menu, p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}
.menu > p:hover{
    color: #8257E5;
    cursor: pointer;
}

.container{
   text-align: center;
}

.container > p{
    width: 500;
    height: 200;
    font-size: 3em;
    font-weight: 700;
}

.GreatCoffee{
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-color: #8257E5;
    -webkit-text-stroke-width: 0.5px;
}


.GradienteInferior{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.GradienteSuperior{
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}

button{
    color: white;
    
    padding: 10px 30px;
    background-color: rgba(240, 248, 255, 0);
    border: solid 0.9px #8257E5;
    border-radius: 6px;
}

button:hover{
    background-color: rgba(245, 222, 179, 0.027);
    cursor: pointer;
    border: solid 0.9px #8257E5;
}
